<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola Professor</title>
    <link href="static/index.css" rel="stylesheet">
</head>
<body>
    <a href="/">Back</a>
    <h1>Hola Mr.Dixon</h1>
    <p>This is my Mini Fan Page</p>
    <div class="hover-image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc59gKtgRQj12yP5tWFpwYpJCZ1J0QfxzNwA&usqp=CAU" alt="Initial Image" id="changeable-image">
    </div>

    <script src="/static/index.js"></script>
</body>
</html>

    