<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <a href="/">Back</a>
    <h1>This page displays my Portfolio, Techs used, react, threes.js,twailwind.
         Deployed using <br>
        vercel.
    </h1>
    <p>Since Deploying had a few problems with viewing my app on iphones and
         andriod. It works on Iphone but not andriod. <br> When I 
        inspected with chrome and connected it to my phone it said "index-2a260c0e.js:3499 TypeError: Failed to execute 'shaderSource' on 'WebGL2RenderingContext': parameter 1 is not of type 'WebGLShader'".</p>
    <a href="https://www.robertandersondev.com/">My Protfolio Click Me</a>
</body>
</html>